
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav opened mode="side">
   <div class="toptoolbar">
    <p style="font-weight: bold; font-size: medium;"> Mini Othayoth Achuthan</p>
    <p>{{username}}</p>
  </div>
    <mat-divider></mat-divider>
    <mat-form-field appearance="outline" class="icon">
  <mat-label>search</mat-label>
  <input matInput placeholder="type to search">
  <mat-icon matPrefix >search</mat-icon>
    </mat-form-field>
    <mat-toolbar class="toolbar">
      <mat-icon>explore</mat-icon>
      <span style="padding-left:15px;">SBWS Dashboard</span>
    </mat-toolbar>
    <mat-toolbar class="toolbar1">
      <mat-icon>archive</mat-icon>
      <span style="padding-left:15px;">Export</span>
    </mat-toolbar>
    <mat-toolbar class="toolbar1">
      <mat-icon>list</mat-icon>
      <span style="padding-left:15px;">Reports</span>
    </mat-toolbar>
    <mat-toolbar class="toolbar1">
      <mat-icon>input</mat-icon>
      <span style="padding-left:15px;">Logout</span>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content> 
<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>SBWS Tracker</span>
  <span style="padding-left:450px;">Welcome {{username}}</span>
  <span class="toolbar-spacer" ></span>
  <span  (click)=LogOut()>Logout</span>
</mat-toolbar>

<div class="button-container">
  <button  mat-raised-button color="primary" class="button">Edit</button>
  <button mat-raised-button color="primary" (click)="removeSelectedRows()" class="button"> Delete Selected Rows</button>
  <button mat-raised-button color="primary" (click)="onCreate()" class="button" > Add </button>
  <button mat-raised-button color="primary" (click)="exportExcel()" class="button" > Export </button>
  <button mat-raised-button color="primary" onclick="document.getElementById('id01').style.display='block'" class="button" >Custom Export </button>

</div>

<div class="w3-container">
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <mat-toolbar color="primary">
        <span>Select Columns</span>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      </mat-toolbar>
      <div class="container">
        <div class="text-center mt-5">
          <div class="row">
              <div class="col-md-6">
                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()"/> <strong>Select/ Unselect All</strong>
                <div class="list-group-item" *ngFor="let item of customExportColumns">
                  <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.name}}" (change)="onChange(item, $event.target.checked)"/>
                  {{item.name}}
                </div> 
              </div>
          </div>
        </div>
      </div>
      <!-- <div class="w3-container">
        <div *ngFor="let column of customExportColumns">
             <input (change)="onChange(column, $event.target.checked)" name="{{ column.name }}" type="checkbox" id="{{column.name}}">
             <label for="{{column.name}}">{{column.name |uppercase}}</label>
         </div>
      </div> -->
      <footer class="modal-footer">
        <button mat-raised-button color="primary" mat-raised-button (click)="exportExcel()">Export Report</button>
      </footer>
    </div>
  </div>
</div>

<div class="form">
  <mat-form-field floatPlaceholder="never" color="accent">
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. SL">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

<table mat-table [dataSource]="dataSource" matSort>
<!--<div class="example-container mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>

 Checkbox Column -->
  <ng-container matColumnDef="select" >
    <th class="defaultheader" mat-header-cell *matHeaderCellDef>
      <mat-checkbox class="defaultheader" (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

    <!-- Position Column -->
    <!-- <ng-container matColumnDef="slNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> S No. </th>
      <td mat-cell *matCellDef="let element"> {{element.slNo}} </td>
    </ng-container> -->

    <!-- Emp ID Column -->
    <ng-container matColumnDef="employeeNo">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> Employee Number </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeNo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="employeeName">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
    </ng-container>


    <!-- Account Column -->
    <ng-container matColumnDef="accountId">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> Account Name </th>
      <td mat-cell *matCellDef="let element"> {{element.accountId}} </td>
    </ng-container>

     <!-- Team Column -->
    <ng-container matColumnDef="teamName">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> Team Name </th>
      <td mat-cell *matCellDef="let element"> {{element.teamName}} </td>
    </ng-container>

     <!-- COID Column -->
    <ng-container matColumnDef="coId">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> COID </th>
      <td mat-cell *matCellDef="let element"> {{element.coId}} </td>
    </ng-container>

     <!-- Address Column -->
    <ng-container matColumnDef="presentLocation">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> Present Address </th>
      <td mat-cell *matCellDef="let element"> {{element.presentLocation}} </td>
    </ng-container>

     <!-- Location Column -->
    <ng-container matColumnDef="workLocation">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> Work Location </th>
      <td mat-cell *matCellDef="let element"> {{element.workLocation}} </td>
    </ng-container>

     <!-- Parent Unit Column -->
    <ng-container matColumnDef="parentUnit">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> Parent Unit </th>
      <td mat-cell *matCellDef="let element"> {{element.parentUnit}} </td>
    </ng-container>

     <!-- Mode of working Column -->
    <ng-container matColumnDef="modeOfWorking">
      <th class="defaultheader"mat-header-cell *matHeaderCellDef mat-sort-header> Mode of Working </th>
      <td mat-cell *matCellDef="let element"> {{element.modeOfWorking}} </td>
    </ng-container>

     <!-- Asset id Column -->
    <ng-container matColumnDef="assetId">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> Asset ID </th>
      <td mat-cell *matCellDef="let element"> {{element.assetId}} </td>
    </ng-container>

     <!-- SBWS Status Column -->
    <ng-container matColumnDef="sbwsEnabled">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> SBWS Enbled </th>
      <td mat-cell *matCellDef="let element"> {{element.sbwsEnabled}} </td>
    </ng-container>

     <!-- Lead Column -->
    <ng-container matColumnDef="leadSupervisorName">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> Lead/Supervisor Name </th>
      <td mat-cell *matCellDef="let element"> {{element.leadSupervisorName}} </td>
    </ng-container>

     <!-- PG Status Column -->
    <ng-container matColumnDef="stayingInPg">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> Staying in PG </th>
      <td mat-cell *matCellDef="let element"> {{element.stayingInPg}} </td>
    </ng-container>

     <!-- TCS Desktop Column -->
    <ng-container matColumnDef="tcsDesktop">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header> TCS Desktop </th>
      <td mat-cell *matCellDef="let element"> {{element.tcsDesktop}} </td>
    </ng-container>

     <!-- Internet Connectivity Column -->
    <ng-container matColumnDef="typeOfInternetConnection">
      <th class="defaultheader" mat-header-cell *matHeaderCellDef mat-sort-header>Internet Connection </th>
      <td mat-cell *matCellDef="let element"> {{element.typeOfInternetConnection}} </td>
    </ng-container>


 <ng-container matColumnDef="star" stickyEnd>
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let element">
    <mat-icon>more_vert</mat-icon>
  </td>
</ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns; true"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </table>

  <mat-paginator #paginator
  [length]="dataSource.filteredData.length"
  [pageIndex]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
</div>
</mat-sidenav-content>

</mat-sidenav-container>
