
  /* left image */
  .left{
    height: 100%;
    width: 35%;
    position: absolute;
    left: 0;
    background-color: #005cb9;   
  }
  img{
    height: 100%;
    width: 100%;

  }

/* right side */
  .right{
    height: 100%;
    width: 65%;
    background-color: #fff;
    margin: 0%;
    align-items: center;
    position: absolute;
    right: 0%;
  }
  /* matcard */
  mat-card {
    width: 50%;
    height: 66%;
    margin: 10% auto;
    border-radius: 20px;
  }
  mat-card-title{
     color: #005cb9;  
  }
  mat-form-field, mat-checkbox {
    width: 60%;
    
    display: block;
    margin: auto;
  }
  .signup{
    margin-top: 30px;
  }
  .signin{
    margin: 15% auto;
  }
  
  .login-button {
    display: block;
    width: 50%;
    margin: 20px auto;
    align-self: center;
    border-radius: 5em;
    font-size: 13px;
  }
  .reset-button{
    display: block;
    width: 50%;
    margin: 20px auto;
    align-self: center;
    border-radius: 5em;
    font-size: 13px;
  }
  @media (max-width: 1028px) {
    .left{
      height: 100%;
      position: absolute; 
      background-color: #005cb9;   
    }
    img{
      height: fit-content;
      width: fit-content;
      position: relative;
      z-index: 0;
  
    }
    .right{
      height: 100%;
      width: 100%;
      margin: 0%;
      display: inline-block;
      align-items: center;
      position: absolute;
      background-image: url(/assets/images/ult.png);
      background-repeat: no-repeat;
      background-size: auto;
    }
   .mat-elevation-z12{
      width: 50%;
      height: 70%;
      margin: 28% auto 0%;
      position: relative;
       left: 20px;
      padding-top: 25px;
      border-radius: 20px;
    }
    mat-card-title{
      color: #005cb9;

   }
   .reset-button{
    display: block;
    width: 50%;
    margin: 10px auto;
    align-self: center;
    border-radius: 5em;
    font-size: 13px;
  }
  .signup{
    margin: 10px auto;
  }
  }

  