
<mat-toolbar color="primary">
    <span>Upload Excel file</span>
    <!-- <button mat-button mat-dialog-close mat-raised-button color="primary" class="button"> Close </button> -->
    <!-- <span  mat-button mat-dialog-close mat-raised-button class="close">&times;</span> -->
  </mat-toolbar>
  <div class="container" mat-dialog-content  >
          <div class="float-right" mat-dialog-actions>
            <div class="button-container">
                <input type="file" name="list_name"/>
              </div>
              <button mat-button mat-dialog-close mat-raised-button color="primary" class="button">Close</button>
          </div>
          <!-- <div class="button-container">
            <button  mat-raised-button color="primary">Upload</button>
            <button mat-button mat-dialog-close mat-raised-button color="primary" class="button">Close</button>
          </div> -->
    </div>

  